.password-reset-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    
}

h3 {
    margin-bottom: 20px;
}

.input-reset {
    width: 90%;
   

    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-reset {
    
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-reset:hover {
    background-color: #0056b3;
}

.back-button {
    margin-top: 15px;
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
}

.back-button:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}